* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(240, 239, 235, 1) 0%,
    rgba(237, 237, 232, 1) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #696663;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #F8F9FA;
  font-size: 24px;
}


.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #B9B3AF;
  outline: none;
  width: 320px;
  background: transparent;
  color: #F8F9FA;
}

.todo-input::placeholder {
  color: #F8F9FA;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #B9B3AF;
  color: #F8F9FA;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #B9B3AF;
}

.todo-button.edit {
  background: #B9B3AF;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #F8F9FA;
  background: #d7d2cb;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: #bfb8af;
}

.todo-row:nth-child(4n + 2) {
  background: #aca39a;
}

.todo-row:nth-child(4n + 3) {
  background: #8c8279;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #F8F9FA;
}

.edit-icon {
  color: #F8F9FA;
}

.check-icon {
  color: #F8F9FA;
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
